/* reseteo */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* header*/

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

nav ul li {
    display: inline-block;
}

nav h1 {
    font-family: 'Paytone One', sans-serif;
    color: #cbeb5a;
    font-size: 3.5rem;
    margin: 0px;
    padding-top: 20px;
    padding-left: 120px;
    text-align: left;
    background-color: #33391a;
}

nav ul {
    background-color: #1C2611;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 400px;
}

nav ul li a {
    text-decoration: none;
    color: #cbeb5a;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: bold;
    padding-left: 15px;
    padding-right: 15px;
}

nav ul li a:hover {
    color: #e2b536;
}

nav h1 a {
    text-decoration: none;
    color: #cbeb5a;
}


/*termina header*/


/*footer*/

footer {
    background-color: #c1ac46;
}

footer ul {
    display: flex;
    justify-content: center;
}

footer ul li a {
    text-decoration: none;
    font-family: 'Readex Pro', sans-serif;
    font-size: 0.8rem;
    padding: 10px;
    color: #2C250B;
    text-transform: uppercase;
}

footer ul li {
    list-style-type: none;
}

footer a {
    text-decoration: none;
}

.redes {
    padding-left: 700px;
}

footer a img {
    padding-right: 10px;
}

footer ul li a:hover {
    color: #ecde98;
}


/*termina footer*/


/*grids index*/

main {
    background-color: #0f1409;
}

.grids {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px;
    justify-content: space-evenly;
    padding-bottom: 150px;
    padding-top: 100px;
}

.grids p {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #ecde98;
    font-size: 1.5rem;
    font-weight: 700;
    padding-bottom: 15px;
}

.grids img:hover {
    opacity: 0.5;
}


/*termina grids index*/


/*empieza form*/

.form {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 180px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
    color: #ecde98;
    justify-content: center;
    align-items: center;
}

.divFormDos {
    width: 100%;
}

section h1 {
    font-family: 'Oswald', sans-serif;
    color: #ecde98;
    padding-left: 180px;
    font-size: 3rem;
}

.contacto {
    background-color: #625723;
}


/*termina form contacto*/

article {
    background-color: #0f1409;
    padding-left: 180px;
    padding-right: 180px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-family: 'Oswald', sans-serif;
    color: #f5f1df;
    font-weight: 100;
    font-size: 1.1rem;
    text-align: justify;
}


/* cajas verdes grids*/

aside .gridsAbajo {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
    grid-template-rows: 200px;
    justify-content: space-around;
    padding-top: 30px;
}

.caja {
    background-color: #92b269;
}


/*termina cajas verdes grids*/


/*img ubicación*/

aside img {
    padding-left: 0px;
    opacity: 0.5;
}


/*grids domicilios*/

.gridsDom {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px 300px;
    padding-top: 50px;
    padding-left: 50px;
    justify-content: space-around;
}

.menu h1 {
    font-family: 'Oswald', sans-serif;
    color: #cbeb5a;
    padding-top: 200px;
    font-size: 3rem;
    padding-left: 50px;
}

.menu h2 {
    font-family: 'Oswald', sans-serif;
    padding-left: 70px;
    text-transform: uppercase;
    color: #f5f1df;
    font-size: 2rem;
}

.gridsDomDos {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    padding-top: 50px;
    padding-left: 50px;
    justify-content: space-around;
}


/*termina grids domicilios*/


/*grids faq*/

.faqGrids {
    display: grid;
    grid-template-columns: 900px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px;
    padding-top: 200px;
    padding-bottom: 20px;
    row-gap: 1rem;
    justify-content: center;
}

.cajaFaq {
    background-color: #d5ddcb;
    opacity: 0.8;
}

.cajaFaq h3 {
    font-family: 'Oswald', sans-serif;
    color: #2C250B;
    text-align: center;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 40px;
    padding-top: 30px;
}

.cajaFaq p {
    font-family: 'Oswald', sans-serif;
    color: #514e45;
    text-align: center;
    padding: 20px;
    padding-top: 5px;
}


/*termina grids faq*/


/*grids blog*/

.blog h3 {
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    padding-top: 200px;
    padding-bottom: 10px;
    padding-left: 300px;
    color: #f5f1df;
    font-size: 2rem;
}

.blog h2 {
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    color: #f5f1df;
    font-size: 2rem;
    padding-top: 10px;
    padding-left: 300px;
}

.blogGrids {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    padding-top: 50px;
    padding-bottom: 20px;
    row-gap: 2rem;
    column-gap: 1rem;
    justify-content: center;
}

.recetas:hover {
    opacity: 0.5;
}

.blogGridsDos {
    display: grid;
    grid-template-columns: 900px;
    grid-template-rows: 200px 200px 200px 200px 200px 200px 200px;
    row-gap: 2rem;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
    opacity: 0.8;
}

.market {
    background-color: #f5f1df;
    font-family: 'Oswald', sans-serif;
    text-align: justify;
    color: #514e45;
    padding-left: 50px;
    padding-top: 20px;
}


/*termina grids blog*/


/*grids nosotros*/

.usGrids {
    display: grid;
    grid-template-columns: 900px;
    grid-template-rows: 300px 70px 70px;
    padding-top: 50px;
    justify-content: center;
    row-gap: 3rem;
    justify-items: center;
    padding-bottom: 30px;
}

.quienes h2 {
    font-family: 'Oswald', sans-serif;
    color: #f5f1df;
    padding-top: 200px;
    font-size: 2rem;
    padding-left: 200px;
}

.quienes h3 {
    font-family: 'Oswald', sans-serif;
    color: #f5f1df;
    padding-top: 20px;
    font-size: 2rem;
    padding-left: 200px;
}

.nosotros {
    font-family: 'Oswald', sans-serif;
    color: #e9ecde;
    font-size: 1.2rem;
    padding-top: 30px;
}

.usGridsDos {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 300px 300px;
    row-gap: 2rem;
    justify-content: center;
    opacity: 0.8;
    padding-bottom: 30px;
}

.somos:hover {
    opacity: 0.5;
}

.formWork {
    padding-top: 10px;
    font-family: 'Oswald', sans-serif;
    color: #f5f1df;
    padding-bottom: 30px;
    padding-left: 100px;
    padding-right: 100px;
}

.formDescription {
    font-family: 'Oswald', sans-serif;
    color: #f5f1df;
    padding-top: 180px;
}


/*media queries*/


/*
@media screen and (min-width:320px) {
    .grids {
        grid-template-columns: 300px 300px;
        grid-template-rows: 300px 300px;
        row-gap: 3rem;
        column-gap: 2rem;
        justify-content: center;
        padding-top: 50px;
        padding-left: 400px;
        align-content: center;
        }
        
    .gridsAbajo {
        grid-template-columns: 300px;
        grid-template-rows: 200px 200px;
        row-gap: 2rem;
        align-content: center;
    }
    .gridsDom {
        grid-template-columns: 300px 300px;
        grid-template-row: 300px 300px 300px 300px 300px;
    }
    .gridsDomDos {
        grid-template-columns: 300px 300px;
        grid-template-row: 300px 300px 300px;
    }
    .faqGrids {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px;
        padding-top: 200px;
        padding-bottom: 20px;
        row-gap: 1rem;
        justify-content: center;
    }
    .blogGrids {
        display: grid;
        grid-template-columns: 300px 300px 300px;
        grid-template-rows: 300px 300px;
        padding-top: 50px;
        padding-bottom: 20px;
        row-gap: 2rem;
        column-gap: 1rem;
        justify-content: center;
    }
    .blogGrids {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px 100px;
        row-gap: 1rem;
        column-gap: 1rem;
        justify-content: center;
        padding-bottom: 100px;
    }
    .blogGridsDos {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px;
        row-gap: 2rem;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 30px;
        opacity: 0.8;
    }

    .faqGrids {
        display: grid;
        grid-template-columns: 300px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px;
        padding-top: 200px;
        padding-bottom: 20px;
        row-gap: 1rem;
        justify-content: center;
    }

    .usGrids {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 100px 50px 50px;
    justify-content: center;
    row-gap: 3rem;
    justify-items: center;
    padding-bottom: 30px;
    }

    
    .usGridsDos {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px;
    row-gap: 2rem;
    justify-content: center;
    opacity: 0.8;
    padding-bottom: 30px;
    }
}

/*